.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #61dafb;
  color: white;
  width: 150px; /* Set a fixed width */
  height: 50px; /* Set a fixed height */
  text-align: center;
}

button:hover {
  background-color: #21a1f1;
}

input[type="text"] {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #61dafb;
  border-radius: 5px;
  width: 200px; /* Set a fixed width */
  box-sizing: border-box; /* Ensure padding is included in the width */
}

input[type="text"]::placeholder {
  color: #aaa; /* Style the placeholder text */
}